  <div class="container-blog" style="background-color: #f0f0f0;">
<div class="dashboard-bg position-relative" style="background-image: url(<%= asset_path 'projback.jpg' %>); background-size: cover; background-position: center; height: 400px;">
  <div class="dashboard-overlay"></div>
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6 text-center text-white">
        <div class="my-4">
          <h1 class="mb-4"><span class="accent-title">BLOG</span></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <style>
    .rounded-container {
      background-color: #ADD8E6; /* Set your desired background color */
      border-radius: 20px; /* Adjust the border radius to control the roundness */
      padding: 7px; /* Add padding to create space between content and border */
      border: 2px solid #ccc; /* Add a border around the container */
      display: inline-block; /* Display the container as an inline-block element */
    }
  </style>-->
<div class="container mt-5" style="max-width: 960px;">
<div first-project>
    <%= link_to(website_path, class: "no-underline text-dark") do %>
      <h2>CREATING A WEBSITE</h2>
    <% end %>
    <%= image_tag 'website.jpg', height: 400, width: 842%>
</div>

 <h2>Financial econometric models</h2>


</div>
</div>
