<footer class="footer" style="background-color: #fff; height: 200px;">
  <div class="container d-flex align-items-center h-100">
    <div class="row">
      <div class="col-md-5">
      <p><strong>CONTACTS</strong></p>
         <p><i class="fa-solid fa-envelope"></i> EMAIL: jacopo.riani@gmail.com/jacopo@riani.it</p>
         <p><strong>SOCIAL</strong></p>
          <li class="list-inline-item mr-3">
            <a href="https://github.com/JacopoRiani" class="text-dark">
              <i class="fab fa-github fa-2x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/jacopo-riani-272842230/" class="text-dark">
              <i class="fab fa-linkedin-in fa-2x"></i>
            </a>
          </li>
          <a href="https://opensource.org/license/mit">MIT License</a>
      </div>
    </div>
    </div>
</footer>
