<h2>Hi, I am jacopo!</h2>
<img src="https://media.licdn.com/dms/image/D4D03AQH4T0o5hD33eg/profile-displayphoto-shrink_800_800/0/1701928961301?e=1712793600&v=beta&t=LlmPWTjyxY_H8sS3nRK1Ywin9Mn0qp2oGdCu2SCFozY" class = "img-circle" width= "200px" alt="Me">
<p> Data lover, Ambitious, Dynamic, Enterprising <i class="fa-solid fa-rocket"></i></p>
<p> I am constantly seeking improvement and ready to take on new challenges</p>
<h2>Get in touch! <i class="fa-solid fa-globe"></i> </h2>
      <h3><i class="fa-solid fa-envelope"></i> EMAIL: jacopo.riani@gmail.com / jacopo@riani.it</h3>
    <ul>
      <li>
        <b href="https://github.com/JacopoRiani" target="_blank">
          <i class="fab fa-github-square"></i>
        </b>
      </li>
    </ul>
