  <div class="dashboard-bg" style="background-image: url(<%= asset_path 'projback.jpg' %>); background-size: 100% auto; height: 350px; position: relative;">
    <div class="dashboard-overlay"></div>
    <div class="container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <div class="row">
        <div class="col-md-6 offset-md-3 text-center text-white">
          <div class="my-4">
            <br>
            <br>
            <h1><span class="accent-title text-white mt-5">BLOG</span></h1>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container" style="max-width: 960px;">

<p>
Creating your own website can be a rewarding endeavor. Here's an overview of what you need to know to get started:
</p>
<ol>
  <li>
    <strong>HTML (Hypertext Markup Language)</strong>: HTML is the standard markup language used to create the structure and content of web pages.
  </li>
  <li>
    <strong>CSS (Cascading Style Sheets)</strong>: CSS is used to style the appearance of HTML elements on a web page.
  </li>
  <li>
    <strong>JavaScript</strong>: JavaScript adds interactivity and dynamic behavior to web pages.
  </li>
  <li>
    <strong>Web Development Frameworks and Libraries</strong>: Frameworks and libraries like Bootstrap, Foundation, and jQuery streamline website development.
  </li>
  <li>
    <strong>Responsive Design</strong>: Design websites that adapt to different devices and screen sizes.
  </li>
  <li>
    <strong>Web Hosting</strong>: Choose a web hosting service to make your website accessible on the internet.
  </li>
  <li>
    <strong>Domain Name</strong>: Register a domain name that reflects your website's brand or content.
  </li>
  <li>
    <strong>HTTP and HTTPS</strong>: Understand the basics of HTTP and HTTPS protocols.
  </li>
  <li>
    <strong>Version Control</strong>: Use Git for managing changes to your website's codebase.
  </li>
  <li>
    <strong>SEO (Search Engine Optimization)</strong>: Optimize your website to improve its visibility in search engine results.
  </li>
  <li>
    <strong>Analytics</strong>: Track and analyze visitor behavior on your website using web analytics tools.
  </li>
  <li>
    <strong>Content Management Systems (CMS)</strong>: Consider using CMS platforms like WordPress, Joomla, or Drupal for website creation and management.
  </li>
</ol>
</div>
