<div class="container">
<p>
Pokemarket began as an internal project for the bootcamp Le Wagon. The goal was to implement a small web application taking as an example Airbnb website. Me and my team decided to implement a funny website where you can negotiate and sell Pokémon in the market. Each Pokémon is distinguished by its own points, the element and a photo to describe the Pokémon itself.  In order to create the web-app we have used programming languages such as Ruby on Rails, JavaScript, HTML5 and CSS. </p>
</div>
