<div class="container text-center">
<a href="https://www.tripquest.site/" target="_blank">TripQuest Website</a>
<p>
<ul>
  <li>Carpay aims to be the bridging point between users and insurance providers.</li>
  <li>We aim for user loyalty through safe driving award (e.g. fuel card, cash payments or insurance).</li>
  <li>Our goal is to increase the revenues of insurance service providers through:
    <ul>
      <li>Linking the user to a specific insurance for using the app.</li>
      <li>Insurance discounts that will lead to additional purchases.</li>
      <li>Leveraging existing budgets from insurance providers.</li>
      <li>General risk reduction.</li>
    </ul>
  </li>
  <li>Improved target campaigns and cluster analysis lead to a better understanding of the customer in terms of traffic data and development of a better insurance price made ad hoc.</li>
</ul>

</p>
</div>
