<div class="dashboard-bg position-relative" style="background-image: url(<%= asset_path 'projback.jpg' %>); background-size: cover; background-position: center; height: 400px;">
  <div class="dashboard-overlay"></div>
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6 text-center text-white">
        <div class="my-4">
          <h1 class="mb-4"><span class="accent-title">POKEMARKET</span></h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4" style="max-width: 960px;">
<p>
Pokemarket began as an internal project for the bootcamp Le Wagon. The goal was to implement a small web application taking as an example Airbnb website. Me and my team decided to implement a funny website where you can negotiate and sell Pokémon in the market. Each Pokémon is distinguished by its own points, the element and a photo to describe the Pokémon itself.  In order to create the web-app we have used programming languages such as Ruby on Rails, JavaScript, HTML5 and CSS. </p>
</div>
