<div class="dashboard-bg position-relative" style="background-image: url(<%= asset_path 'projback.jpg' %>); background-size: cover; background-position: center; height: 400px;">
  <div class="dashboard-overlay"></div>
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6 text-center text-white">
        <div class="my-4">
          <h1 class="mb-4"><span class="accent-title">POKEMARKET</span></h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4" style="max-width: 960px;">
<p>
Pokemarket started as an internal project of the Le Wagon bootcamp. The aim was to make a small web application using the Airbnb website as an example. My team and I decided to make a fun website where you can trade and sell Pokémon on the market. Each Pokémon is distinguished by its points, element and a photo to describe the Pokémon. To create the web-app, we used programming languages such as Ruby on Rails, JavaScript, HTML5 and CSS. </p>
</div>
<hr>
