<div class="dashboard-bg position-relative" style="background-image: url(<%= asset_path 'projback.jpg' %>); background-size: cover; background-position: center; height: 400px;">
  <div class="dashboard-overlay"></div>
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6 text-center text-white">
        <div class="my-4">
          <h1 class="mb-4"><span class="accent-title">ROAD ACCIDENTS ANALYSIS</span></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4" style="max-width: 960px;">
<p>This project was born out of a desire to reduce road accidents by offering motorists an opportunity! By analysing the open-source data provided by Istat we can identify the areas that need more attention. This is an important and interesting topic that has always been at the centre of discussions. Will cars really not require us to drive in the near future or are we still a long way from this development? What if we could offer drivers an opportunity right now?
</p>
<%= image_tag 'accident.png', class: "img-fluid", crop: :fill %>
</div>
<hr>
<style>

  .img-fluid {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    filter: blur(5px);
  }


</style>
