<div class="dashboard-bg position-relative" style="background-image: url(<%= asset_path 'projback.jpg' %>); background-size: cover; background-position: center; height: 400px;">
  <div class="dashboard-overlay"></div>
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6 text-center text-white">
        <div class="my-4">
          <h1 class="mb-4"><span class="accent-title">TRIPQUEST</span></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4 text-center" style="max-width: 960px;">
<p>Website of an interesting tech project. If you would like to get further details reach out!</p>
</div>
