<div class="dashboard-bg position-relative" style="background-image: url(<%= asset_path 'projback.jpg' %>); background-size: cover; background-position: center; height: 400px;">
  <div class="dashboard-overlay"></div>
  <div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6 text-center text-white">
        <div class="my-4">
          <h1 class="mb-4"><span class="accent-title">ENZO FERRARI</span></h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4" style="max-width: 960px;">

<h3>ENZO FERRARI</h3>
<h4>The definitive biography of an icon</h4>
This book examines lesser-known and sometimes hidden aspects of ferrari's career from his earliest failed business ventures to his political dealings. It sheds new light on Enzo's troubled relationship with his idea of God, delves into his personal relationships, and lays bare, in fascinating detail, the internal politics of the Ferrari company and team. No matter what challenges he faced, Ferrari never lost his unwavering faith in life and in himself.
<p>Enzo Ferrari's biography. The name speaks for itself, so I can end here (joking). I will try to delve into the story of his life! The first chapters are about his early childhood, when he had to face the loss of his father and brother.
Despite these tragedies, he managed not to lose his passion for life and cars. Driven by the desire to build his future in the industry at all costs, he never lost his passion for cars throughout his life. Thanks to his relentless desire to become a racing driver, he overcame all the problems that arose. His father had a small manufacturing business and thanks to the profits from the shop he was able to establish his first business, which failed after a couple of years due to Enzo's lack of knowledge at an early age. Moreover, he was too busy running races and could not devote much time to the new business. He pointed out that thanks to that previous failure he had realised what really matters in terms of business. If you are not fully involved in the business, you are very likely to fail. You have to get into the business itself, especially if it is your own. Enzo Ferrari became Ferrari because of his passion, but also because of the dedication he had for the automotive industry.  At the age of 23 he met the woman who would become his future wife.
Despite the extraordinary times spent with her, this story would soon become a terrible burden for Enzo to deal with in the future.
His racing career was going well, albeit with some teething troubles. Both his mother and his wife were not happy with his racing career, as many people were dying at that time. It was very risky.  At the age of about 30, thanks to his attitude and personality, he was appointed head of the Alfa Romeo team, at that time the most important Italian brand when it came to cars. From that managerial experience, the Ferrari era began.
</p>
</div>
<hr>
