<h3>IKIGAI</h3>

<h4>The Japanese secret to a long and Happy Life</h4>
<p>Each of us is driven by a purpose, you just have to discover it. Ikigai, a Japanese way of life, incorporates this concept: figure out what you are good at, what you enjoy and, finally, how you can create value from these two passions. Furthermore, don’t forget to take care of your body and focus on what really matters in your life. By doing this, your life will become easier in every aspect. Regardless of all the problems you face, remember to take action and set a threshold of activities to do so that you don't feel lonely. I think it is good to get out of your comfort bubble and discover yourself by taking some risks, otherwise you will always remain within the confines of your own circle. Have experiences, immerse yourself in other cultures, learn, ask, and don't be shy about making mistakes, despite all the problems you will face. Step out of your comfort zone and find your inner self and what you really want to do with your life, whether it is a job or a holiday. Find what makes you feel good, hang out with friends who would like to see you achieve your goals.
But remember that the most important thing is to plan your day with commitment, when you decide in your mind to do that, do it! Be flexible, there are two different beliefs: there are people who think that concentrating on developing a single skill and immersing yourself to the maximum on it is better than learning many different skills but at a lower level.
It's up to you which one you want to step in!
</p>
